/*
PALETA CORES
fundo gelo: #CCCCCC
amarelo: #FECD23
branco escrito: #FFFFFF
roxo escuro: #1E0C21
roxo claro: #641F70
azul escuro: #342988
azul medio: #2738DB
azul medio claro: #3D5DEF
azul claro: #73CDFF
botao escuro: #1D0C20
*/

body {
    background-color: #CCCCCC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 0.85rem;
    
}

.container {
    background-color: #1E0C21;
    background-image: linear-gradient(to bottom, #1E0C21, #641F70);
    margin: auto;
    width: 600px;
    border-radius: 7px;
    text-align: center;
    padding: 1rem 1.5rem;
}

.header-tittle {
    color: #FECD23;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}