/*
PALETA CORES
fundo gelo: #CCCCCC
amarelo: #FECD23
branco escrito: #FFFFFF
roxo escuro: #1E0C21
roxo claro: #641F70
azul escuro: #342988
azul medio: #2738DB
azul medio claro: #3D5DEF
azul claro: #73CDFF
botao escuro: #1D0C20
*/

body {
    background-color: #CCCCCC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 0.85rem;
    
}

input {
    width: 75%;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;
    margin: 9px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 8px #CCCCCC;
}

img {
    width: 100%;
}

button {
    background-color: #1D0C20;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
button:hover{
    background-color: #3a3737;
}

.container {
    background-color: #1E0C21;
    background-image: linear-gradient(to bottom, #1E0C21, #641F70);
    margin: auto;
    width: 600px;
    border-radius: 7px;
    text-align: center;
    padding: 1rem 1.5rem;
}

.header-tittle {
    color: #FECD23;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.content {
    background-color: #641F70;
    background-image: linear-gradient(to bottom, #641F70, #1E0C21);
    border-radius: 7px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.content-top {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.cards-flex {
    display: flex;
    justify-content: space-around;
}

.card-ext {
    background-color: #2738DB;
    background-image: linear-gradient(to bottom, #2738DB, #342988);
    border-radius: 6px;
    margin: 0.8rem;
    width: 150px;
    
}


.card-int {
    background-color: #3D5DEF;
    background-image: linear-gradient(to bottom, #3D5DEF, #73CDFF);
    margin: 0.5rem;
    font-size: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
}



.footer {
    font-size: 0.7rem;
}

@media screen and (max-width: 650px){
    html {
        font-size: 14px;
    }
    input {
        width: 95%;
    }
    .cards-flex {
        flex-direction: column;
        align-items: center;
    }
    .card-ext, .card-int {
        box-sizing: border-box;
    }
    .container {
        width: 95%;
    }
    .content {
        padding: 0.5rem;
    }
}